.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  position: relative;
}

.info-box {
  background-color: #f4f4f4 !important;
  border: 1px solid darkred !important;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  max-width: 800px;
}

.info-box h3 {
  margin-top: 0;
  font-size: 18px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: darkred;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  border: 1px solid #ddd;
  color: black;
}

.styled-table th {
  font-weight: bold;
}

.styled-table td button {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.styled-table td button:hover {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: darkred;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #a50000;
}

.loading-spinner {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: darkred;
}

.mat-elevation-z8 {
  margin: 16px;
  border-radius: 8px;
}

.mat-header-cell, .mat-cell {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f4f4f4;
}

.mat-cell button {
  background-color: darkred !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.mat-cell button:hover {
  background-color: #a50000;
}

.mat-tab-label {
  color: darkred;
  font-weight: bold;
}

.mat-tab-label-active {
  color: #a50000;
}

.mat-tab-header {
  justify-content: center;
}

::ng-deep .mat-tab-label {
  color: darkred !important;
  font-weight: bold !important;
}

::ng-deep .mat-tab-label-active {
  color: #a50000 !important;
}

.openDialog {
  float: right;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: darkred;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.openDialog:hover {
  background-color: #a50000;
}