<div class="center-content">
  <h3>Cambre Services</h3>
</div>

<div class="center-container">
    <!-- Information Box -->
    <div class="info-box">
      <h3>Information</h3>
      <p>
        Please ensure that all names and information fields are no longer than 
        <strong>500 characters</strong>.</p>
      <p>The price field must be a positive number.</p>
      <p>You can edit existing materials or add new ones using the buttons provided.</p>
</div>
  
<!-- Add Material Button -->
<button class="actions-container" (click)="openAddDialog()">Add Material</button>

<br>
<!-- Table for Materials -->
<table mat-table [dataSource]="materials" class="mat-elevation-z8">
  <ng-container matColumnDef="name_dutch">
    <th mat-header-cell *matHeaderCellDef> Name Dutch </th>
    <td mat-cell *matCellDef="let material"> {{ material.name_dutch }} </td>
  </ng-container>
  
  <ng-container matColumnDef="name_french">
    <th mat-header-cell *matHeaderCellDef> Name French </th>
    <td mat-cell *matCellDef="let material"> {{ material.name_french }} </td>
  </ng-container>
  
  <ng-container matColumnDef="name_german">
    <th mat-header-cell *matHeaderCellDef> Name German </th>
    <td mat-cell *matCellDef="let material"> {{ material.name_german }} </td>
  </ng-container>

  <ng-container matColumnDef="information_dutch">
    <th mat-header-cell *matHeaderCellDef> Information Dutch </th>
    <td mat-cell *matCellDef="let material"> {{ material.information_dutch }} </td>
  </ng-container>
  
  <ng-container matColumnDef="information_french">
    <th mat-header-cell *matHeaderCellDef> Information French </th>
    <td mat-cell *matCellDef="let material"> {{ material.information_french  }} </td>
  </ng-container>
  
  <ng-container matColumnDef="information_german">
    <th mat-header-cell *matHeaderCellDef> Information German </th>
    <td mat-cell *matCellDef="let material"> {{ material.information_german  }} </td>
  </ng-container> 
  
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let material"> 
      {{ material.price | currency:'EUR':'symbol':'1.2-2' }} 
    </td>
  </ng-container>  

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let material">
      <div class="actions-container" style="display: flex; gap: 8px;">
        <button mat-button color="primary" style="color: white;" (click)="openEditDialog(material)">Edit</button>
        <button mat-button color="warn"  style="color: white;" (click)="deleteMaterial(material.id)">Delete</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<ng-container *ngIf="!isLoading && materials.data?.length === 0">
  <p>No materials available.</p>
</ng-container>
