<h4>Properties</h4>
<br>
<button class="actions-container" (click)="openAddPopup()">Add New Property</button>
<br>
<br>
<div class="filter-buttons-container">
  <button (click)="setFilter('all')" class="filter-button">All</button>
  <button (click)="setFilter('apartment')" class="filter-button">Apartments</button>
  <button (click)="setFilter('villa')" class="filter-button">Villas</button>
</div>

<div class="card-container">
  <div class="card" *ngFor="let card of filteredCards">
    <div class="card-content">
      <h3 class="card-title">{{ card.name }}</h3>
      <p class="card-type">{{ card.propertyType }}</p>
      <br>
      <img
        [src]="card.image"
        alt="Card image"
        class="card-image"
        (click)="openImageModal(card.image)"
      />
      <br>
      <p class="card-address">{{ card.address }}</p>
      <br>
      <div class="card-footer">
        <div class="card-icon">
          <img [src]="peopleIconUrl" alt="People icon" />
          <span>{{ card.totalpersons }}</span>
        </div>
        <div class="card-icon">
          <img [src]="roomIconUrl" alt="Room icon" />
          <span>{{ card.totalrooms }}</span>
        </div>
        <br>
        <div class="equipment-icons">
          <div *ngFor="let icon of card.equipmentIcons" class="equipment-item">
            <img *ngIf="icon.url" [src]="icon.url" alt="{{ icon.name }}" />
            <span>{{ icon.name }}</span>
          </div>
        </div>
        <br>
        <p class="card-price">Prijs vanaf/Prix à partir de/Preis ab: €{{ card.price }}</p>
        <br>
        <p class="card-url">
            {{ card.url }}
        </p>
        <br>
        <button class="edit-button" (click)="openEditPopup(card)">Edit</button>
        <button class="delete-button" (click)="deleteCard(card.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup for Edit -->
<div *ngIf="isPopupOpen" class="popup-modal">
  <div class="popup-content">
    <h3>{{ isEditMode ? 'Edit Property' : 'Add New Property' }}</h3>
    <form (ngSubmit)="saveProperty()">
      <div class="input-group">
        <label>Name:</label>
        <input [(ngModel)]="currentProperty.name" name="name" required />
      </div>
      <div class="input-group">
        <label>Type:</label>
        <input [(ngModel)]="currentProperty.propertyType" name="type" required />
      </div>
      <div class="input-group">
        <label>Street:</label>
        <input [(ngModel)]="currentProperty.address.street" name="street" required />
      </div>
      <div class="input-group">
        <label>Number:</label>
        <input [(ngModel)]="currentProperty.address.number" name="number" required />
      </div>
      <div class="input-group">
        <label>Postbox:</label>
        <input [(ngModel)]="currentProperty.address.postbox" name="postbox" />
      </div>
      <div class="input-group">
        <label>Zipcode:</label>
        <input type="number" [(ngModel)]="currentProperty.address.zipcode" name="zipcode" value="8420" readonly />
      </div>
      <div class="input-group">
        <label>City:</label>
        <input [(ngModel)]="currentProperty.address.city" name="city" value="De Haan" readonly />
      </div>
      <div class="input-group">
        <label>Country:</label>
        <input [(ngModel)]="currentProperty.address.country" name="country" value="Belgium" readonly />
      </div>
      <div class="input-group">
        <label>Price:</label>
        <input type="number" [(ngModel)]="currentProperty.price" name="price" />
      </div>
      <div class="input-group">
        <label>Total Persons:</label>
        <input type="number" [(ngModel)]="currentProperty.totalpersons" name="totalpersons" />
      </div>
      <div class="input-group">
        <label>Total Rooms:</label>
        <input type="number" [(ngModel)]="currentProperty.totalrooms" name="totalrooms" />
      </div>

      <!-- Equipment Dropdown -->
      <div class="input-group">
        <label>Equipment:</label>
        <select class="equipment-dropdown" (change)="addEquipment($event.target.value)">
          <option *ngFor="let equipment of equipmentList" [value]="equipment.id">{{ equipment.name }}</option>
        </select>
      </div>
      <div class="equipment-container">
        <div *ngFor="let equipment of currentProperty.equipment" class="equipment-item">
          <span>{{ equipment.name }}</span>
        </div>
      </div>

      <button type="submit">Save</button>
      <button type="button" (click)="closePopup()">Cancel</button>
    </form>
  </div>
</div>