h3 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: darkred;
    margin: 0;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .header-container h3 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: darkred;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .btn-primary {
    padding: 10px 15px;
    font-size: 14px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  
  .btn-primary:hover {
    background-color: #660000;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }  