/* Center Title */
.title {
  color: darkred;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

/* Button Container */
.button-container {
  text-align: center;
  margin-bottom: 16px;
}

/* Table Container to Align Table and Paginator */
.table-container {
  width: 80%;
  margin: 0 auto;
}

/* Table Styling */
.mat-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mat-header-cell, .mat-cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Image in Icon Column */
.icon-img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  object-fit: cover;
}

/* Action Buttons Styling */
.action-buttons {
  display: flex;
  gap: 8px; /* Adds spacing between buttons */
}

.darkred-button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.darkred-button:hover {
  background-color: #a10000;
}

/* Paginator */
.mat-paginator {
  text-align: right;
  margin-top: 16px;
  font-size: 14px;
  color: #555;
  width: 100%; 
}

h4 {
    text-align: center;
    font-size: 2rem; 
    font-weight: bold;
    color: darkred;
    margin: 10px 0; 
    padding: 0; 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.full-width {
  width: 100%;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}