<div class="footer-content">
    <!-- Left Section: Contact Information -->
    <div class="footer-section contact-info">
      <h4>Cambre Services</h4>
      <a
        href="https://www.google.com/maps/place/Driftweg+2,+8420+De+Haan/"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: none; color: inherit;"
        class="map-link">
        <p>Driftweg 2</p>
        <p>8420 De Haan</p>
      </a>
    </div>

    <!-- Middle Section: Opening Hours -->
    <div class="footer-section opening-hours">
        <h4>Openingsuren / Heures d'ouverture / Öffnungszeiten</h4>
        <ul>
          <li><span>ma/lun/Mo</span> 9:00-12:00  14:00 - 17:00</li>
          <li><span>di/mar/Di</span> 9:00-12:00  14:00 - 17:00</li>
          <li><span>woe/mer/Mi</span> Gesloten/Fermé/Geschlossen</li>
          <li><span>do/jeu/Do</span> 9:00-12:00  14:00 - 17:00</li>
          <li><span>vrij/ven/Fr</span> 9:00-12:00  14:00 - 17:00</li>
          <li><span>zat/sam/Sa</span> 10:00-12:00  14:00 - 17:00</li>
          <li><span>zon/dim/So</span> Gesloten/Fermé/Geschlossen</li>
        </ul>
      </div>


    <!-- Footer Section -->
    <div class="footer-section footer-bottom">
      <p>Wij zijn altijd per e-mail bereikbaar en in noodgeval op ons telefoonnummer</p>
      <p>Nous sommes toujours disponibles par e-mail et en cas d'urgence sur notre numéro de téléphone</p>
      <p>Wir sind jederzeit per E-Mail und im Notfall unter unserer Telefonnummer erreichbar</p>
      <br>
      <p><a href="mailto:info@agencecambre.be">info&#64;agencecambre.be</a></p>
      <p><a href="tel:+32479599060">+32 479/59.90.60</a></p>
    </div>
  </div>
