<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-logo"></div>
  <nav mat-tab-nav-bar class="custom-tab-bar">
    <a
      *ngFor="let link of links"
      mat-tab-link
      [routerLink]="link.id"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="custom-tab-link">
      {{ link.label }}
    </a>
  </nav>
</nav>

<!-- Router Outlet for Dynamic Content -->
<router-outlet></router-outlet>

<footer class="tab-content tab-content--dark">
  <app-additional-info></app-additional-info>
</footer>