<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-logo">
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="custom-tab-bar">
    <!-- Generate tabs dynamically using routerLink -->
    <a
      *ngFor="let link of links"
      mat-tab-link
      [routerLink]="link.id" 
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="custom-tab-link">
      {{ link.label }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</nav>

<!-- Image Section -->
<div class="image-section"></div>

<!-- Tab Content -->
<div class="tab-content">
  <!-- Content for 'Lakens' Tab -->
  <div *ngIf="activeLink === 'sheets'">
    <div class="header-container">
      <h3>Lakens / Draps / Bettwäsche</h3>
      <button (click)="openLakensPopup()" class="btn btn-primary">Aanvraag/Commande/Bestellung</button>
    </div>
    <app-lakens></app-lakens>
  </div>

  <!-- Content for 'Vakantiewoningen' Tab -->
  <div *ngIf="activeLink === 'rental'" class="verhuur-container">
    <h3>Vakantiewoningen / Location de maisons de vacances / Vermietung von Ferienhäuser</h3>
    <app-verhuur></app-verhuur>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="tab-content tab-content--dark">
  <app-additional-info></app-additional-info>
</footer>
